/SimpleTextProcessingWebApi/.vs/SimpleTextProcessingWebApi/v15/.suo
/SimpleTextProcessingWebApi/.vs/SimpleTextProcessingWebApi/v15/Server/sqlite3/db.lock
/SimpleTextProcessingWebApi/.vs/SimpleTextProcessingWebApi/v15/Server/sqlite3/storage.ide
/SimpleTextProcessingWebApi/.vs/SimpleTextProcessingWebApi/v15/Server/sqlite3/storage.ide-shm
/SimpleTextProcessingWebApi/.vs/SimpleTextProcessingWebApi/v15/Server/sqlite3/storage.ide-wal
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/bin/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.deps.json
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/bin/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.dll
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/bin/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.pdb
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/bin/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.runtimeconfig.dev.json
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/bin/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.runtimeconfig.json
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/bin/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.xml
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.AssemblyInfo.cs
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.AssemblyInfoInputs.cache
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.RazorAssemblyInfo.cache
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.RazorAssemblyInfo.cs
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.RazorTargetAssemblyInfo.cache
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.assets.cache
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.csproj.CoreCompileInputs.cache
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.csproj.FileListAbsolute.txt
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.csprojAssemblyReference.cache
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.dll
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/SimpleTextProcessingWebApi.pdb
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/SimpleTextProcessingWebApi.csproj.nuget.cache
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/SimpleTextProcessingWebApi.csproj.nuget.g.props
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/SimpleTextProcessingWebApi.csproj.nuget.g.targets
/SimpleTextProcessingWebApi/SimpleTextProcessingWebApi/obj/project.assets.json
